body {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 5px;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(255, 235, 205, 0.767);
    margin: 0;
}

.btn {
    display: inline-flex;
    justify-content: center;
    background-color: blanchedalmond;
    border: none;
    padding: 20px;
    width: 5rem;
    max-height: 2rem;
    align-items: center;
    padding: 1rem;
    border-radius: 9px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.378);
}

.secondary {
    background-color: rgb(248, 242, 234);
    outline: 1px solid blanchedalmond;
}

.btn:hover {
    background-color: rgb(253, 223, 177);
    scale: 102%;
}

.btn:active {
    scale: 99%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.378);
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 20px;
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgb(251, 210, 149);
    gap: 16px;
}

.book p {
    margin: 0px;
}

.book[data-read="true"] .readToggleButton {
    background-color: rgb(144, 255, 104);
}

.book[data-read="false"] .readToggleButton {
    background-color: rgb(238, 238, 238);
}

.delBook,
.readToggleButton {
    width: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20rem;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 9px;
    gap: 20px
}

.message {
    font-size: 1.5rem;
    font-weight: 600;
}

.readStatus {
    width: 50%;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    white-space: nowrap;
    gap: 20px;
    font-weight: 500;
}

input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border: none;
    background-color: blanchedalmond;
    padding: 8px;
    border-radius: 9px;
}

input[type=checkbox] {
    accent-color: blanchedalmond;
    border-radius: 9px;
    border: none;
    color: white;
}